footer {
  /* border-top: 1px solid rgba(235, 232, 232, 0.692); */
  color: color;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem 0 2rem;
  border-top: 1px solid rgba(235, 232, 232, 0.692);
  align-items: center;
  padding: 2rem 0;
}
.social_icons a {
  /* width: 100; */
  margin: 0 1rem;
  padding: 12px 17px;
  border: 1px solid white;
  border-radius: 100%;
  color: white !important;
  font-size: 20px;
}

@media (max-width: 950px) {
  .footer_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  .social_icons {
    margin-top: 1rem;
  }
}
