header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins, sans-serif;
  height: 90px;
  justify-content: space-between;
  /* border-radius: 5px; */
  position: sticky;
  padding: 0 7rem;
}
header nav ul {
  display: flex;
  gap: 20px;
}
header nav ul li {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header nav ul a {
  color: white;
  font-size: 18px;
}

header nav ul a:hover {
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logo img {
  width: 35px;
  height: 35px;
}
.logo h4 {
  color: white;
  font-size: 25px;
}
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.contacts a {
  color: white;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.toggle_btn {
  display: none;
}
.toggle_btn span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}
.toggle_btn.active span {
  transition: all 0.3s ease-in-out;
}
.toggle_btn.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.toggle_btn.active span:nth-child(2) {
  opacity: 0;
}
.toggle_btn.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 970px) {
  header {
    padding: 0 2rem;
  }
  .contacts {
    display: none;
  }
  .toggle_btn {
    display: block;
    cursor: pointer;
  }
  nav {
    position: fixed;
    right: -100%;
    top: 88px;
    bottom: 0px;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
    text-align: center;
  }
  nav ul {
    flex-direction: column;
    background-color: rgba(30, 32, 44, 0.87);
    gap: 0;
  }
  nav ul a {
    color: white;
  }
  nav ul li {
    margin: 15px auto;
  }
  nav.active {
    right: 0;
  }

  header.active {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(30, 32, 44, 0.87);
  }
  header {
    width: 100%;
    padding: 0 25px;
  }
}
