* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 12rem 0;
  width: 100%;
  padding: 0 7rem;
  height: auto;
}
.left {
  width: 50%;
}
.right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main_image {
  width: 350px;
  height: 350px;
  border-radius: 100%;
}
.details > h1 {
  font-size: 3rem;
}
.details > h1::first-letter {
  font-size: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.details > h2 {
  font-size: 30px;
  font-style: italic;
}

.details > h1::after {
  content: "";
  width: 70%;
  height: 5px;
  background-color: rgb(214, 93, 23);
  display: block;
  margin-top: -15px;
  margin-bottom: 1rem;
  border-radius: 6px;
}
.blur {
  color: rgba(231, 235, 240, 0.781);
}
.resume {
  margin-top: 15px;
  color: rgb(214, 93, 23);
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 20px;
}

/* second section */
.second_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7rem;
  position: relative;
}
.wrapper {
  background-color: #404650;
  width: 75%;
  padding: 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
}
.wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19182566;
  padding: 1rem 2rem;
  margin: 10px 0;
}
.wrapper > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper > div > span > * {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  text-align: center;
}
.react {
  color: #24b4fb;
}
.js {
  color: rgb(255, 200, 0);
}
.html {
  color: rgb(214, 93, 23);
}
.css {
  color: rgba(16, 16, 224, 0.877);
}
.tailwind {
  color: rgb(36, 117, 122);
}
.redux {
  color: rgb(214, 93, 23);
}
.bootstrap {
  color: rgb(150, 8, 150);
}
.git {
  color: rgb(214, 93, 23);
}

/* Third section */
.third_section {
  padding: 12rem 7rem 3rem 7rem;
  background-color: #1e202ce6;
}
.third_section > h1 {
  font-size: 30px;
}
.third_section > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

/* Contact section */
.contact_section {
  width: 50%;
  margin: 2rem auto;
  text-align: center;
  /* background-color: red; */
}

.contact_section_header h3 {
  font-size: 30px;
  font-style: italic;
}
.contact_section_header h3::first-letter {
  font-size: 50px;
  font-style: italic;
}
.contact_section_header p {
  /* font-size: 30px; */
  font-weight: 100;
  font-style: italic;
}
.contact_section_body {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.contact_section_body a {
  color: rgba(214, 163, 23, 0.849);
  font-size: 50px;
}
.contact_section_body a:nth-child(2) {
  font-size: 45px;
  font-weight: lighter;
}

/* RESPONSIVENESS */
@media screen and (max-width: 1230px) {
  .details > h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1088px) {
  .details > h1::after {
    content: "";
    width: 12rem;
    height: 5px;
    background-color: rgb(214, 93, 23);
    display: block;
    margin: -7px 0 16px 0;
    border-radius: 6px;
  }
}
@media screen and (max-width: 970px) {
  .first_section {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .details h1 {
    font-size: 50px;
    /* font-size: 300%; */
  }
  .left {
    width: 100%;
    text-align: center;
  }
  .details h2.blur {
    display: none;
  }
  .right {
    width: 100%;
    justify-content: center;
    margin: 20px auto;
  }
  .details > h1::after {
    content: "";
    width: 75%;
    height: 5px;
    background-color: rgb(214, 93, 23);
    display: block;
    margin: -15px auto 16px auto;
    border-radius: 6px;
  }
  .resume {
    margin-top: 15px;
    color: rgb(214, 93, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 20px;
  }
  .first_section.active {
    padding-top: 30px;
    margin-top: 280px;
    transition: all 0.3s ease-in-out;
  }

  .third_section {
    padding: 12rem 2rem 3rem 2rem;
  }
  .third_section > div {
    flex-direction: column;
  }
  .third_section > div > div {
    width: 90%;
    height: auto;
    max-height: 600px;
  }
}
@media screen and (max-width: 835px) {
  .wrapper {
    width: 100%;
    padding: 2rem 2rem;
    height: auto;
  }
  .details > h1::after {
    width: 90%;
  }
}
@media screen and (max-width: 755px) {
  .first_section {
    padding: 0 3rem;
  }
  .details > h1 {
    font-size: 40px;
  }
  .details > h1::after {
    max-width: 26rem;
  }
  .details > h1::first-letter {
    font-size: 80px;
  }
  .details p.blur {
    width: 100%;
  }
}
@media screen and (max-width: 566px) {
  .first_section {
    padding-bottom: 2rem;
  }
  .third_section {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 522px) {
  .details > h1 {
    font-size: 30px;
  }
  .details > h1::after {
    margin-top: -10px;
    width: 20rem;
  }
  .details > h1::first-letter {
    font-size: 60px;
  }
  .first_section {
    margin: 1rem 0;
  }
  .second_section {
    padding: 1rem 0rem;
  }
  .second_section .wrapper {
    position: static;
    padding: 10px;
  }
  .third_section {
    padding: 1rem 1rem;
  }
}
@media screen and (max-width: 437px) {
  .first_section {
    padding: 0 1rem;
  }
  .main_image {
    width: 250px;
    height: 250px;
  }
  .second_section {
    /* top: 2rem; */
    font-size: 13px;
  }
}
@media screen and (max-width: 430px) {
  .main_image {
    width: 300px;
    height: 300px;
  }
  .details > h1 {
    font-size: 25px;
  }
  .details > h1::after {
    margin-top: -10px;
    width: 15rem;
  }
  .details > h1::first-letter {
    font-size: 50px;
  }
}
