* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.body-content {
  width: 100%;
  color: whitesmoke;
  background-color: rgba(30, 32, 44, 0.87);
}
